[Unit]
Description=Telegram Terminal Bot
After=network.target

[Service]
Type=simple
User=USERNAME                               #IMP
WorkingDirectory=/HOME/../../../            #IMP     {example : /home/kcyb3r/documents/Termo-bot     #folder}
ExecStart=/usr/bin/python3 /HOME/../../../terminal_bot.py  #IMP {example: /home/kcyb3/documents/Termo-bot/terminal_bot.py   #file}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 
